{% extends 'CarboBundle::layout.html.twig'  %}

{% block content %}
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenid@!</h1>
        <p class="lead">Esta es la primera aplicación para poder registar los hidratos que consumes.</p>
        <hr class="my-4">
        <p>Con lo que podras optimizar mejor tu rendimiento deportivo y ser más óptimo en tus salidas de ciclismo.</p>
        <p class="lead">
        {% if app.user == null %}
            <a class="btn btn-primary btn-lg" href="{{ path('login') }}" role="button">Empieza ya!</a>
        {% else %}
            <a class="btn btn-primary btn-lg" href="{{ path('carbo_calc_index') }}" role="button">Empieza ya!</a>
        {% endif %}
        </p>
    </div>
{% endblock %}